* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: rgb(231, 201, 162);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: American Typewritter, serif;
}

.fieldset {
    border: 1.5px solid rgb(63, 61, 61);
}

form {
    margin: 20px auto;
    width: 34%;
}

label {
    display: block;
}

input {
    display: block;
    margin: 3px;
}

#submit {
    margin: 10px auto;
    padding: 8px;

    border-radius:10px;
}


ul {
    list-style-type: none;
}

li, ul input {
    padding: 5px;
    display: inline-block;
}

.error { /*errror spans*/
    margin: 10px auto;
    font-weight: bold;
    color: red;
}

.result { /*converted temp div*/
    margin: 20px auto;
    width: 50%;
    padding: 20px;
    text-align: center;
    border: 1px solid black;
}

